services:
  app:
    build: .
    container_name: skyserver
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    volumes:
      - ./.wwebjs_auth:/usr/src/app/.wwebjs_auth
