services:
  app:
    build: .
    container_name: skyserver
    restart: always
    ports:
      - "80:80"
    environment:
      - PORT=80
    volumes:
      - ./.wwebjs_auth:/usr/src/app/.wwebjs_auth
